<h1>Tenho Repetidas</h1>

<p>Olá <%= @user.name %>,</p>

<p>
Bem vindo ao Tenho Repetidas! Clique no link abaixo para ativar a sua conta ou copie e cole em seu navegador:
</p>

<%= link_to "Ativar", edit_account_activation_url(@user.activation_token, email: @user.email) %>